<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.CapitalFlowMapper">

    <!--int submitData(CapitalFlow cf);-->
    <insert  id="submitData" parameterType="com.bhidi.lincang.bean.CapitalFlow" useGeneratedKeys="true"
    keyProperty="id">
        INSERT INTO capitalflow (capitalflowid,title,report_person,report_quarter,report_text,report_attachment,guihuakeshenqingperson,create_time,initiatorclass,status,
                                 titlequxian,shenqingren,report_reason,quxianattachment,quxianshenqingren,quxianshenqingtime,shenqingrendept)
        VALUES( #{capitalflowid},#{title},#{report_person},#{report_quarter},#{report_text},#{report_attachment},#{guihuakeshenqingperson},#{create_time},#{initiatorclass},#{status},
                                 #{titlequxian},#{shenqingren},#{report_reason},#{quxianattachment},
                #{quxianshenqingren},#{quxianshenqingtime},#{shenqingrendept})
    </insert >
    <!--CapitalFlow queryCapitalDataById(String id);-->
    <select  id="queryCapitalDataById" parameterType="String" resultType="com.bhidi.lincang.bean.CapitalFlow" >
        SELECT IFNULL(id,0) AS id,
            IFNULL(capitalflowid,'')AS capitalflowid,
            IFNULL(title,'') AS title,
            IFNULL(report_person,'') AS report_person,
            IFNULL(report_quarter,'') AS report_quarter,
            IFNULL(report_text,'') AS report_text,
            IFNULL(report_attachment,'')AS report_attachment,
            IFNULL(guihuakeshenqingperson,'') AS guihuakeshenqingperson,
            IFNULL(create_time,'') AS create_time,
            IFNULL(initiatorclass,'') AS initiatorclass,
            IFNULL(status,'') AS status,
            IFNULL(money_source,'') AS money_source,
            IFNULL(arrival_time,'') AS arrival_time,
            IFNULL(amount,'') AS amount,
            IFNULL(caiwuchuliren,'') AS caiwuchuliren,
            IFNULL(finance_time,'') AS finance_time,
            IFNULL(caiwuattachment,'') AS caiwuattachment,
            IFNULL(areaname,'') AS areaname,
            IFNULL(areanamedelete,'') AS areanamedelete,
            IFNULL(text,'') AS text,
            IFNULL(guihuachuliren,'') AS guihuachuliren,

            IFNULL(toarea_time,'') AS toarea_time,

            IFNULL(titlequxian,'') AS titlequxian,
            IFNULL(shenqingren,'') AS shenqingren,
            IFNULL(report_reason,'') AS report_reason,
            IFNULL(quxianattachment,'') AS quxianattachment,
            IFNULL(quxianshenqingren,'') AS quxianshenqingren,
            IFNULL(quxianshenqingtime,'') AS quxianshenqingtime,
            IFNULL(replytext,'') AS replytext,
            IFNULL(guihuapifuren,'') AS guihuapifuren,
            IFNULL(guihuapifutime,'') AS guihuapifutime,
            IFNULL(dealtext,'') AS dealtext,
            IFNULL(caiwuzhuanzhangren,'') AS caiwuzhuanzhangren,
            IFNULL(caiwuzhuangzhangtime,'') AS caiwuzhuangzhangtime,
            IFNULL(capitalflowinstruction,'') AS capitalflowinstruction,
            IFNULL(quxianbaocunren,'') AS quxianbaocunren,
            IFNULL(quxianbaocuntime,'') AS quxianbaocuntime,
            IFNULL(quxiantijiaoren,'') AS quxiantijiaoren,
            IFNULL(quxiantijiaotime,'') AS quxiantijiaotime
         FROM capitalflow WHERE capitalflowid = #{id}
    </select >
    <!--int updateCatipalDataById(Map<String, String> map);-->
    <update  id="updateCatipalDataById" parameterType="Map">
        UPDATE capitalflow
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title = #{title},</if>
            <if test="report_person!=null">report_person = #{report_person},</if>
            <if test="report_quarter!=null">report_quarter = #{report_quarter},</if>
            <if test="report_text!=null">report_text = #{report_text},</if>
            <if test="initiatorclass!=null">initiatorclass = #{initiatorclass},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="create_time!=null">create_time = #{create_time},</if>
            <if test="money_source!=null">money_source = #{money_source},</if>
            <if test="arrival_time!=null">arrival_time = #{arrival_time},</if>
            <if test="amount!=null">amount = #{amount},</if>
            <if test="finance_time!=null">finance_time = #{finance_time},</if>
            <if test="areaname!=null">areaname = #{areaname},</if>
            <if test="areanamedelete!=null">areanamedelete = #{areanamedelete},</if>
            <if test="text!=null">text = #{text},</if>
            <if test="report_reason!=null">report_reason = #{report_reason},</if>
            <if test="guihuakechulitime!=null">guihuakechulitime = #{guihuakechulitime},</if>
            <if test="guihuachuliren!=null">guihuachuliren = #{guihuachuliren},</if>
            <if test="caiwuchuliren!=null">caiwuchuliren = #{caiwuchuliren},</if>

            <if test="toarea_time!=null">toarea_time = #{toarea_time},</if>

            <if test="replytext!=null">replytext = #{replytext},</if>
            <if test="guihuapifuren!=null">guihuapifuren = #{guihuapifuren},</if>
            <if test="guihuapifutime!=null">guihuapifutime = #{guihuapifutime},</if>
            <if test="dealtext!=null">dealtext = #{dealtext},</if>
            <if test="caiwuzhuanzhangren!=null">caiwuzhuanzhangren = #{caiwuzhuanzhangren},</if>
            <if test="caiwuzhuangzhangtime!=null">caiwuzhuangzhangtime = #{caiwuzhuangzhangtime},</if>
            <if test="quxianbaocunren!=null">quxianbaocunren = #{quxianbaocunren},</if>
            <if test="quxianbaocuntime!=null">quxianbaocuntime = #{quxianbaocuntime},</if>
            <if test="quxiantijiaoren!=null">quxiantijiaoren = #{quxiantijiaoren},</if>
            <if test="quxiantijiaotime!=null">quxiantijiaotime = #{quxiantijiaotime},</if>
            <if test="capitalflowinstruction!=null">capitalflowinstruction = #{capitalflowinstruction},</if>
        </trim>
        WHERE capitalflowid = #{id}
    </update >
    <!--int updateCapitalDataByCapitalFlow(CapitalFlow cf);-->
    <update  id="updateCapitalDataByCapitalFlow" parameterType="com.bhidi.lincang.bean.CapitalFlow">
        UPDATE capitalflow
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title = #{title},</if>
            <if test="report_person!=null">report_person = #{report_person},</if>
            <if test="report_quarter!=null">report_quarter = #{report_quarter},</if>
            <if test="report_text!=null">report_text = #{report_text},</if>
            <if test="initiatorclass!=null">initiatorclass = #{initiatorclass},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="create_time!=null">create_time = #{create_time},</if>
            <if test="money_source!=null">money_source = #{money_source},</if>
            <if test="arrival_time!=null">arrival_time = #{arrival_time},</if>
            <if test="amount!=null">amount = #{amount},</if>
            <if test="finance_time!=null">finance_time = #{finance_time},</if>
            <if test="caiwuattachment!=null">caiwuattachment = #{caiwuattachment},</if>
            <if test="areaname!=null">areaname = #{areaname},</if>
            <if test="areanamedelete!=null">areanamedelete = #{areanamedelete},</if>
            <if test="text!=null">text = #{text},</if>

            <if test="toarea_time!=null">toarea_time = #{toarea_time},</if>
            <if test="replytext!=null">replytext = #{replytext},</if>
            <if test="dealtext!=null">dealtext = #{dealtext},</if>
            <if test="report_reason!=null">report_reason = #{report_reason},</if>
            <if test="caiwuchuliren!=null">caiwuchuliren = #{caiwuchuliren},</if>
            <if test="guihuachuliren!=null">guihuachuliren = #{guihuachuliren},</if>
            <if test="guihuapifuren!=null">guihuapifuren = #{guihuapifuren},</if>
            <if test="caiwuzhuanzhangren!=null">caiwuzhuanzhangren = #{caiwuzhuanzhangren},</if>
            <if test="quxianbaocunren!=null">quxianbaocunren = #{quxianbaocunren},</if>
            <if test="quxiantijiaoren!=null">quxiantijiaoren = #{quxiantijiaoren},</if>
            <if test="capitalflowinstruction!=null">capitalflowinstruction = #{capitalflowinstruction},</if>
        </trim>
        WHERE capitalflowid = #{capitalflowid}
    </update >
    <!--String selectLastCapitalFlowId();-->
    <select id="selectLastCapitalFlowId" resultType="String">
        SELECT capitalflowid
        FROM capitalflow
        ORDER BY id DESC LIMIT 1
    </select>
</mapper>
