<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.CapitalFlowMapper">

    <!-- int submitData(Map map);-->
    <insert  id="submitData" parameterType="Map" useGeneratedKeys="true"
    keyProperty="id">
        insert into capitalflow (create_time,report_person,report_quarter,report_text,status)
        values( #{create_time},#{report_person},#{report_quarter},#{report_text},#{status} )
    </insert >
    <!--CapitalFlow queryDataById(String id);-->
    <select  id="queryDataById" parameterType="String" resultType="com.bhidi.lincang.bean.CapitalFlow" >
        select * from capitalflow where id = #{id}
    </select >
    <!--int updateDataById(Map<String, String> map);-->
    <update  id="queryDataById" parameterType="Map">
        update capitalflow
        set
        create_time = #{create_time},
        report_person = #{report_person},
        report_quarter = #{report_quarter},
        report_text = #{report_text},
        report_failname = #{report_failname},
        status = #{status},
        money_source = #{money_source},
        arrival_time = #{arrival_time},
        amount = #{amount},
        finance_time = #{finance_time},
        where id = #{id}
    </update >
</mapper>
