<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.CapitalFlowMapper">

    <!-- int submitData(Map map);-->
    <insert  id="submitData" parameterType="Map" useGeneratedKeys="true"
    keyProperty="id">
        insert into capitalflow (create_time,report_person,report_quarter,report_text,status)
        values( #{create_time},#{report_person},#{report_quarter},#{report_text},#{status} )
    </insert >

</mapper>
