<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.DataEnteringMapper">
    <!--int insertPeople();-->
    <insert  id="insertPeople" parameterType="List">
        insert into people (fid,reservoir,phone,prop,poor_reason,location,name,master,pid,gender,race,relation,education,profession,home_size,imm_num,interviewer,interviewee,created_at,table_type)
        values
        <foreach collection="list" separator="," item="people">
            (
            #{people.fid},#{people.reservoir},#{people.phone},#{people.prop},#{people.poor_reason},
            #{people.location},#{people.name},#{people.master},#{people.pid},#{people.gender},
            #{people.race},#{people.relation},#{people.education},#{people.profession},#{people.home_size},
            #{people.imm_num},#{people.interviewer},#{people.interviewee},#{people.created_at},#{people.table_type}
            )
        </foreach>
    </insert >
    <!--int deletePeople(String fid);-->
    <delete id="deletePeople" parameterType="String">
        delete from people where fid  = #{fid}
    </delete>
    <!--int insertBank(Bank bank);-->
    <insert  id="insertBank" parameterType="com.bhidi.lincang.bean.Bank">
        insert into bank (fid,account_name,bank_name,account_number)
        values( #{fid},#{account_name},#{bank_name},#{account_number} )
    </insert >
    <!--int updateBank(Bank bank);-->
    <update  id="updateBank" parameterType="com.bhidi.lincang.bean.Bank">
        update bank
        <trim prefix="set" suffixOverrides=",">
            <if test="account_name!=null">account_name = #{account_name},</if>
            <if test="bank_name!=null">bank_name = #{bank_name},</if>
            <if test="account_number!=null">account_number = #{account_number},</if>
        </trim>
        where fid = #{fid}
    </update>
    <!--int insertHouse(House house);-->
    <insert  id="insertHouse" parameterType="com.bhidi.lincang.bean.House">
        insert into house (fid,main_size,main_structure1,main_structure2,main_structure3,main_structure4,main_structure5,main_remark,sub_size,sub_structure1,sub_structure2,sub_structure3,sub_structure4,sub_structure5,sub_remark)
        values( #{fid},#{main_size},#{main_structure1},#{main_structure2},#{main_structure3},#{main_structure4},#{main_structure5},
        #{main_remark},#{sub_size},#{sub_structure1},#{sub_structure2},#{sub_structure3},#{sub_structure4},#{sub_structure5},
        #{sub_remark} )
    </insert >
    <!--int updateHouse(House house);-->
    <update  id="updateHouse" parameterType="com.bhidi.lincang.bean.House">
        update house
        <trim prefix="set" suffixOverrides=",">
            <if test="main_size!=null">main_size = #{main_size},</if>
            <if test="main_structure1!=null">main_structure1 = #{main_structure1},</if>
            <if test="main_structure2!=null">main_structure2 = #{main_structure2},</if>
            <if test="main_structure3!=null">main_structure3 = #{main_structure3},</if>
            <if test="main_structure4!=null">main_structure4 = #{main_structure4},</if>
            <if test="main_structure5!=null">main_structure5 = #{main_structure5},</if>
            <if test="main_remark!=null">main_remark = #{main_remark},</if>
            <if test="sub_size!=null">sub_size = #{sub_size},</if>
            <if test="sub_structure1!=null">sub_structure1 = #{sub_structure1},</if>
            <if test="sub_structure2!=null">sub_structure2 = #{sub_structure2},</if>
            <if test="sub_structure3!=null">sub_structure3 = #{sub_structure3},</if>
            <if test="sub_structure4!=null">sub_structure4 = #{sub_structure4},</if>
            <if test="sub_structure5!=null">sub_structure5 = #{sub_structure5},</if>
            <if test="sub_remark!=null">sub_remark = #{sub_remark},</if>
        </trim>
        where fid = #{fid}
    </update>
    <!--int insertIncome(List<Income> incomeList);-->
    <insert  id="insertIncome" parameterType="List">
        insert into income (fid,income_source,income_cate,income_quantity,income_unit,income_sum,remark)
        values
        <foreach collection="list" separator="," item="income">
            (
            #{income.fid},#{income.income_source},#{income.income_cate},#{income.income_quantity},#{income.income_unit},
            #{income.income_sum},#{income.remark}
            )
        </foreach>
    </insert >
    <!--int deleteIncome(String fid);-->
    <delete id="deleteIncome" parameterType="String">
        delete from income where fid  = #{fid}
    </delete>
    <!--int insertOutcome(List<Outcome> outcomeList);-->
    <insert  id="insertOutcome" parameterType="List">
        insert into outcome (fid,outcome_source,outcome_cate,outcome_quantity,outcome_unit,outcome_sum,remark)
        values
        <foreach collection="list" separator="," item="outcome">
            (
            #{outcome.fid},#{outcome.outcome_source},#{outcome.outcome_cate},#{outcome.outcome_quantity},#{outcome.outcome_unit},
            #{outcome.outcome_sum},#{outcome.remark}
            )
        </foreach>
    </insert >
    <!--int deleteOutcome(String fid);-->
    <delete id="deleteOutcome" parameterType="String">
        delete from outcome where fid  = #{fid}
    </delete>
    <!--int insertMove(Move move);-->
    <insert  id="insertMove" parameterType="com.bhidi.lincang.bean.Move">
        insert into move (fid,from_city,from_district,from_town,from_village,from_group,from_remark,to_city,to_district,to_town,to_village,to_group,to_remark)
        values( #{fid},#{from_city},#{from_district},#{from_town},#{from_village},#{from_group},#{from_remark},
        #{to_city},#{to_district},#{to_town},#{to_village},#{to_group},#{to_remark} )
    </insert >
   <!--int updateMove(Move move);-->
    <update  id="updateMove" parameterType="com.bhidi.lincang.bean.Move">
        update move
            <trim prefix="set" suffixOverrides=",">
                <if test="from_city!=null">from_city = #{from_city},</if>
                <if test="from_district!=null">from_district = #{from_district},</if>
                <if test="from_town!=null">from_town = #{from_town},</if>
                <if test="from_village!=null">from_village = #{from_village},</if>
                <if test="from_group!=null">from_group = #{from_group},</if>
                <if test="from_remark!=null">from_remark = #{from_remark},</if>
                <if test="to_city!=null">to_city = #{to_city},</if>
                <if test="to_district!=null">to_district = #{to_district},</if>
                <if test="to_town!=null">to_town = #{to_town},</if>
                <if test="to_village!=null">to_village = #{to_village},</if>
                <if test="to_group!=null">to_group = #{to_group},</if>
                <if test="to_remark!=null">to_remark = #{to_remark},</if>
            </trim>
        where fid = #{fid}
    </update>
</mapper>
