<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.DataGetingMapper">
    <!--Bank selectBankInfoByFid(String fid);-->
    <select id="selectBankInfoByFid" resultType="com.bhidi.lincang.bean.Bank" parameterType="String">
       SELECT IFNULL(fid,"") AS fid,IFNULL(account_name,"") AS account_name,
       IFNULL(bank_name,"") AS bank_name,IFNULL(account_number,"") AS account_number
       FROM bank
       WHERE fid = #{fid}
    </select>
    <!--House selectHouseInfoByFid(String fid);-->
    <select id="selectHouseInfoByFid" resultType="com.bhidi.lincang.bean.House" parameterType="String">
        SELECT IFNULL(fid,"") AS fid,IFNULL(main_size,"") AS main_size,
        IFNULL(main_structure1,"") AS main_structure1,IFNULL(main_structure2,"") AS main_structure2,
        IFNULL(main_structure3,"") AS main_structure3,IFNULL(main_structure4,"") AS main_structure4,
        IFNULL(main_structure5,"") AS main_structure5,IFNULL(main_remark,"") AS main_remark,
        IFNULL(sub_size,"") AS sub_size,IFNULL(sub_structure1,"") AS sub_structure1,
        IFNULL(sub_structure2,"") AS sub_structure2,IFNULL(sub_structure3,"") AS sub_structure3,
        IFNULL(sub_structure4,"") AS sub_structure4,IFNULL(sub_structure5,"") AS sub_structure5,
        IFNULL(sub_remark,"") AS sub_remark
        FROM house
        WHERE fid = #{fid}
    </select>
    <!--List<Income> selectIncomeInfoByFid(String fid);-->
    <select id="selectIncomeInfoByFid" resultType="com.bhidi.lincang.bean.Income" parameterType="String">
        SELECT IFNULL(fid,"") AS fid,IFNULL(income_source,"") AS income_source,
        IFNULL(income_cate,"") AS income_cate,IFNULL(income_quantity,"") AS income_quantity,
        IFNULL(income_unit,"") AS income_unit,IFNULL(income_sum,"") AS income_sum,
        IFNULL(remark,"") AS remark
        FROM income
        WHERE fid = #{fid}
    </select>
    <!--List<Outcome> selectOutcomeInfosByFid(String fid);-->
    <select id="selectOutcomeInfosByFid" resultType="com.bhidi.lincang.bean.Outcome" parameterType="String">
        SELECT IFNULL(fid,"") AS fid,IFNULL(outcome_source,"") AS outcome_source,
        IFNULL(outcome_cate,"") AS outcome_cate,IFNULL(outcome_quantity,"") AS outcome_quantity,
        IFNULL(outcome_unit,"") AS outcome_unit,IFNULL(outcome_sum,"") AS outcome_sum,
        IFNULL(remark,"") AS remark
        FROM outcome
        WHERE fid = #{fid}
    </select>
    <!--Move selectMoveInfoByFid(String fid);-->
    <select id="selectMoveInfoByFid" resultType="com.bhidi.lincang.bean.Move" parameterType="String">
        SELECT IFNULL(fid,"") AS fid,
        IFNULL(from_city,"") AS from_city,IFNULL(from_district,"") AS from_district,
        IFNULL(from_town,"") AS from_town,IFNULL(from_village,"") AS from_village,
        IFNULL(from_group,"") AS from_group,IFNULL(from_remark,"") AS from_remark,
        IFNULL(to_city,"") AS to_city,IFNULL(to_district,"") AS to_district,
        IFNULL(to_town,"") AS to_town,IFNULL(to_village,"") AS to_village,
        IFNULL(to_group,"") AS to_group,IFNULL(to_remark,"") AS to_remark
        FROM move
        WHERE fid = #{fid}
    </select>
    <!--List<People> selectPeopleInfosByFid(String fid);-->
    <select id="selectPeopleInfosByFid" resultType="com.bhidi.lincang.bean.People" parameterType="String">
        SELECT IFNULL(fid,"") AS fid,
        IFNULL(reservoir,"") AS reservoir,IFNULL(phone,"") AS phone,
        IFNULL(prop,"") AS prop,IFNULL(poor_reason,"") AS poor_reason,
        IFNULL(location,"") AS location,IFNULL(name,"") AS name,
        IFNULL(master,"") AS master,IFNULL(pid,"") AS pid,
        IFNULL(gender,"") AS gender,IFNULL(race,"") AS race,
        IFNULL(relation,"") AS relation,IFNULL(education,"") AS education,
        IFNULL(profession,"") AS profession,IFNULL(home_size,"") AS home_size,
        IFNULL(imm_num,"") AS imm_num,IFNULL(interviewer,"") AS interviewer,
        IFNULL(interviewee,"") AS interviewee,IFNULL(created_at,"") AS created_at,
        IFNULL(table_type,"") AS table_type
        FROM people
        WHERE fid = #{fid}
    </select>

</mapper>
