<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.FormStuffMapper">

    <insert  id="saveFormStuff" parameterType="com.bhidi.lincang.bean.F_Stuff">
        insert into form_stuff (oid,created_at,sent_at,author,dept,reviewer,keyword,
        title,content,print,revision,copy,status)
        values( #{oid},#{created_at},#{sent_at},#{author},#{dept},#{reviewer},#{keyword},
         #{title},#{content},#{print},#{revision},#{copy},#{status} )
    </insert >

    <insert  id="submittedFormStuff" parameterType="com.bhidi.lincang.bean.F_Stuff">
        insert into form_stuff (oid,created_at,sent_at,author,dept,reviewer,keyword,
        title,content,print,revision,copy,status)
        values( #{oid},#{created_at},#{sent_at},#{author},#{dept},#{reviewer},#{keyword},
        #{title},#{content},#{print},#{revision},#{copy},#{status} )
    </insert >
    <!--F_Stuff queryStuffByOid(String oid);-->
    <select id="queryStuffByOid" parameterType="String" resultType="com.bhidi.lincang.bean.F_Stuff">
        select * from form_stuff where oid = #{oid}
    </select>
    <!--int deleteStuffByOid(String oid);-->
    <delete id = "deleteStuffByOid" parameterType="String">
        delete from form_stuff where oid = #{oid}
    </delete>
</mapper>
