<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.NonFileManagementMapper">
    <!--int insert(NonFileManagement nfm);-->
    <insert id="insert" parameterType="com.bhidi.lincang.bean.NonFileManagement">
        INSERT INTO nonfilemanagement(nonfileid,title,formsubmitperson,infokind,content,
        attachmentpath,submitperson,submittime,officecontent,officetime,status)
        VALUES (#{nonfileid},#{title},#{formsubmitperson},#{infokind},#{content},
        #{attachmentpath},#{submitperson},#{submittime},#{officecontent},#{officetime},#{status});
    </insert>
    <!--NonFileManagement selectNonFileManagementInfoByNonFileId(String nonfileid);-->
    <select id="selectNonFileManagementInfoByNonFileId" parameterType="String" resultType="com.bhidi.lincang.bean.NonFileManagement">
        SELECT IFNULL(nonfileid,"") AS nonfileid,IFNULL(title,"") AS title,
        IFNULL(formsubmitperson,"") AS formsubmitperson,IFNULL(infokind,"") AS infokind,
        IFNULL(content,"") AS content, IFNULL(attachmentpath,"") AS attachmentpath,
        IFNULL(submitperson,"") AS submitperson,IFNULL(submittime,"") AS submittime,
        IFNULL(officeperson,"") AS officeperson,IFNULL(officecontent,"") AS officecontent,
        IFNULL(officetime,"") AS officetime,IFNULL(status,"") AS status
        FROM nonfilemanagement
        WHERE nonfileid = #{nonfileid}
    </select>

    <!--int updateNonFileManagement(NonFileManagement nfm);-->
    <update id="updateNonFileManagement" parameterType="com.bhidi.lincang.bean.NonFileManagement">
        UPDATE nonfilemanagement
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title = #{title},</if>
            <if test="formsubmitperson!=null">formsubmitperson = #{formsubmitperson},</if>
            <if test="infokind!=null">infokind = #{infokind},</if>
            <if test="content!=null">content = #{content},</if>
            <if test="officeperson!=null">officeperson = #{officeperson},</if>
            <if test="officecontent!=null">officecontent = #{officecontent},</if>
            <if test="officetime!=null">officetime = #{officetime},</if>
            <if test="status!=null">status = #{status},</if>
        </trim>
        WHERE nonfileid = #{nonfileid}
    </update>
</mapper>
