<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.PictureMapper">
    <!--List<PictureCounty> queryCountyInfo();-->
    <select id="queryCountyInfo" resultType="com.bhidi.lincang.bean.PictureCounty">
        SELECT COUNT(p.name) as NUM,TO_DISTRICT as countyName
        FROM move m inner join people p
        on m.`FID` = p.`FID` GROUP BY m.`TO_DISTRICT`
    </select>

    <!--List<PictureCounty> queryTownInfo();-->
    <select id="queryTownInfo" resultType="com.bhidi.lincang.bean.PictureTown">
        SELECT TO_DISTRICT as countyName,count(p.name) as NUM,TO_TOWN as townName
        FROM move m inner join people p
        on m.`FID` = p.`FID` GROUP BY m.`TO_DISTRICT`,m.TO_TOWN
    </select>
   <!-- List<PictureVillage> queryVillageInfo();-->
    <select id="queryVillageInfo" resultType="com.bhidi.lincang.bean.PictureVillage">
        SELECT TO_DISTRICT as countyName,count(p.name) as NUM,TO_TOWN as townName,TO_VILLAGE as villageName
        FROM move m inner join people p
        on m.`FID` = p.`FID` GROUP BY m.`TO_DISTRICT`,m.TO_TOWN,m.TO_VILLAGE
    </select>
    <!--int pictureSum();-->
    <select id="pictureSum" resultType="int">
        SELECT count(*) AS intsum
        FROM people
    </select>
    <!--List<AnZhiKind> selectAnZhi();-->
    <select id="selectAnZhi" resultType="com.bhidi.lincang.bean.AnZhiKind">
        SELECT count(*) AS numOfAnZhi,location AS anZhiName
        FROM people GROUP BY location HAVING location IS NOT NULL
    </select>
    <!--List<KuQuKind> selectKuQu();-->
    <select id="selectKuQu" resultType="com.bhidi.lincang.bean.KuQuKind">
        SELECT count(*) AS numOfKuQu,reservoir AS kuQuName
        FROM people GROUP BY reservoir HAVING reservoir IS NOT NULL
    </select>
</mapper>
