<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.ReceiveFileMapper">
    <!--String insert(ReceiveFile rfaa);-->
    <insert id="insert" parameterType="com.bhidi.lincang.bean.ReceiveFile">
        insert into receivefile(receivefileid,year, savetime,
        type, cometime,fileid, registrationnum,fileallid,
        writtentime, title,  attachmentpath,keyword,
        responsibleperson, archivecopies, pagenum, secret,
        issues,  receiveperson, comedepartment,attachmentpagenum,
        entitynum,  distributionsituation,  oldfond, archivesituation,
         registrationdate, circulationsituation, dealsituation,  status,
         reveivereregisterpersonaccount)
        values (#{receivefileid},#{year}, #{savetime},
        #{type}, #{cometime},#{fileid}, #{registrationnum},#{fileallid},
        #{writtentime}, #{title},  #{attachmentpath},#{keyword},
        #{responsibleperson}, #{archivecopies}, #{pagenum}, #{secret},
        #{issues},  #{receiveperson}, #{comedepartment},#{attachmentpagenum},
        #{entitynum},  #{distributionsituation},  #{oldfond}, #{archivesituation},
         #{registrationdate}, #{circulationsituation}, #{dealsituation},  #{status},
         #{reveivereregisterpersonaccount});
    </insert>

    <!--ReceiveFile selectReceiveFileInfoById(String receivefileid);-->
    <select id="selectReceiveFileInfoById" resultType="com.bhidi.lincang.bean.ReceiveFile">
        SELECT IFNULL(receivefileid,"") as receivefileid,IFNULL(year,"") as year,
        IFNULL(savetime,"") as savetime,IFNULL(type,"") as type,
        IFNULL(cometime,"") as cometime, IFNULL(fileid,"") as fileid,
        IFNULL(registrationnum,"") as registrationnum,IFNULL(fileallid,"") as fileallid,
        IFNULL(writtentime,"") as writtentime,IFNULL(title,"") as title,
        IFNULL(attachmentpath,"") as attachmentpath,IFNULL(keyword,"") as keyword,
        IFNULL(responsibleperson,"") as responsibleperson,
        IFNULL(archivecopies,"") as archivecopies,IFNULL(pagenum,"") as pagenum,
        IFNULL(secret,"") as secret,IFNULL(issues,"") as issues,IFNULL(receiveperson,"") as receiveperson,
        IFNULL(comedepartment,"") as comedepartment,IFNULL(attachmentpagenum,"") as attachmentpagenum,
        IFNULL(entitynum,"") as entitynum,IFNULL(distributionsituation,"") as distributionsituation,
        IFNULL(oldfond,"") as oldfond,IFNULL(archivesituation,"") as archivesituation,
        IFNULL(registrationdate,"") as registrationdate,IFNULL(circulationsituation,"") as circulationsituation,
        IFNULL(dealsituation,"") as dealsituation,IFNULL(status,"") as status,IFNULL(reveivereregisterpersonaccount,"") as reveivereregisterpersonaccount
        FROM receivefile
        where receivefileid = #{receivefileid}
    </select>
   <!-- List<PictureVillage> queryVillageInfo();-->
    <!--<select id="queryVillageInfo" resultType="com.bhidi.lincang.bean.PictureVillage">
        SELECT FROM_DISTRICT as countyName,count(p.name) as NUM,FROM_TOWN as townName,FROM_VILLAGE as villageName
        FROM move m inner join people p
        on m.`FID` = p.`FID` GROUP BY m.`FROM_DISTRICT`,m.FROM_TOWN,m.FROM_VILLAGE
    </select>-->

</mapper>
