<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.ReceiveFileMapper">
    <!--String insert(ReceiveFile rfaa);-->
    <insert id="insert" parameterType="com.bhidi.lincang.bean.ReceiveFile">
        insert into receivefile(receivefileid,year, savetime,
        type, cometime,fileid, registrationnum,fileallid,
        writtentime, title,  attachmentpath,keyword,
        responsibleperson, archivecopies, pagenum, secret,
        issues,  receiveperson, comedepartment,attachmentpagenum,
        entitynum,  distributionsituation,  oldfond, archivesituation,
         registrationdate, circulationsituation, dealsituation,  status,
         reveivereregisterpersonname)
        values (#{receivefileid},#{year}, #{savetime},
        #{type}, #{cometime},#{fileid}, #{registrationnum},#{fileallid},
        #{writtentime}, #{title},  #{attachmentpath},#{keyword},
        #{responsibleperson}, #{archivecopies}, #{pagenum}, #{secret},
        #{issues},  #{receiveperson}, #{comedepartment},#{attachmentpagenum},
        #{entitynum},  #{distributionsituation},  #{oldfond}, #{archivesituation},
         #{registrationdate}, #{circulationsituation}, #{dealsituation},  #{status},
         #{reveivereregisterpersonname});
    </insert>

    <!--ReceiveFile selectReceiveFileInfoById(String receivefileid);-->
    <select id="selectReceiveFileInfoById" resultType="com.bhidi.lincang.bean.ReceiveFile">
        SELECT IFNULL(receivefileid,"") as receivefileid,IFNULL(year,"") as year,
        IFNULL(savetime,"") as savetime,IFNULL(type,"") as type,
        IFNULL(cometime,"") as cometime, IFNULL(fileid,"") as fileid,
        IFNULL(registrationnum,"") as registrationnum,IFNULL(fileallid,"") as fileallid,
        IFNULL(writtentime,"") as writtentime,IFNULL(title,"") as title,
        IFNULL(attachmentpath,"") as attachmentpath,IFNULL(keyword,"") as keyword,
        IFNULL(responsibleperson,"") as responsibleperson,
        IFNULL(archivecopies,"") as archivecopies,IFNULL(pagenum,"") as pagenum,
        IFNULL(secret,"") as secret,IFNULL(issues,"") as issues,IFNULL(receiveperson,"") as receiveperson,
        IFNULL(comedepartment,"") as comedepartment,IFNULL(attachmentpagenum,"") as attachmentpagenum,
        IFNULL(entitynum,"") as entitynum,IFNULL(distributionsituation,"") as distributionsituation,
        IFNULL(oldfond,"") as oldfond,IFNULL(archivesituation,"") as archivesituation,
        IFNULL(registrationdate,"") as registrationdate,IFNULL(circulationsituation,"") as circulationsituation,
        IFNULL(dealsituation,"") as dealsituation,IFNULL(status,"") as status,IFNULL(reveivereregisterpersonname,"") as reveivereregisterpersonname,
        IFNULL(modeltype,"") as modeltype,IFNULL(modelchoicename,"") as modelchoicename,IFNULL(department1name,"") as department1name,
        IFNULL(department1person,"") as department1person,IFNULL(department1persondelete,"") as department1persondelete,
        IFNULL(department2name,"") as department2name,IFNULL(department2person,"") as department2person,
        IFNULL(department2persondelete,"") as department2persondelete,IFNULL(fenguanname,"") as fenguanname,
        IFNULL(zhuguanname,"") as zhuguanname,IFNULL(fenguannamedelete,"") as fenguannamedelete,
        IFNULL(zhuguannamedelete,"") as zhuguannamedelete,IFNULL(implementperson,"") as implementperson,
        IFNULL(implementpersondelete,"") as implementpersondelete
        FROM receivefile
        where receivefileid = #{receivefileid}
    </select>

    <!--String selectDepartmentNameByName(String department1);-->
    <select id="selectDepartmentNameByName" parameterType="String" resultType="String">
        select r.rolename
        from user u,user_role ur,role r where u.id = ur.userid and ur.roleid = r.id and u.name = #{name}
    </select>

    <!--int updateReceiveFile(ReceiveFile rf);-->
    <update id="updateReceiveFile" parameterType="com.bhidi.lincang.bean.ReceiveFile">
        update ReceiveFile
        <trim prefix="set" suffixOverrides=",">
            <if test="modeltype!=null">modeltype = #{modeltype},</if>
            <if test="modelchoicename!=null">modelchoicename = #{modelchoicename},</if>
            <if test="department1name!=null">department1name = #{department1name},</if>
            <if test="department1person!=null">department1person = #{department1person},</if>
            <if test="department1persondelete!=null">department1persondelete = #{department1persondelete},</if>
            <if test="department2name!=null">department2name = #{department2name},</if>
            <if test="department2person!=null">department2person = #{department2person},</if>
            <if test="department2persondelete!=null">department2persondelete = #{department2persondelete},</if>
            <if test="fenguanname!=null">fenguanname = #{fenguanname},</if>
            <if test="zhuguanname!=null">zhuguanname = #{zhuguanname},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="fenguannamedelete!=null">fenguannamedelete = #{fenguannamedelete},</if>
            <if test="zhuguannamedelete!=null">zhuguannamedelete = #{zhuguannamedelete},</if>
            <if test="implementperson!=null">implementperson = #{implementperson},</if>
            <if test="implementpersondelete!=null">implementpersondelete = #{implementpersondelete},</if>
        </trim>
        where receivefileid = #{receivefileid}
    </update>
    <!--int updateModelZhijiechuli(Model_Zhijiechuli meme);-->
    <update id="updateModelZhijiechuli" parameterType="com.bhidi.lincang.bean.Model_Zhijiechuli">
        update model_zhijiechuli
        <trim prefix="set" suffixOverrides=",">
            <if test="mainleaderinstruction!=null">mainleaderinstruction = #{mainleaderinstruction},</if>
            <if test="branchleaderinstruction!=null">branchleaderinstruction = #{branchleaderinstruction},</if>
            <if test="result!=null">result = #{result},</if>
        </trim>
        where receivefileid = #{receivefileid}
    </update>
   <!-- int updateModelWenjiannibandan(Model_Wenjianniban meme);-->
    <update id="updateModelWenjiannibandan" parameterType="com.bhidi.lincang.bean.Model_Wenjianniban">
        update model_wenjianniban
        <trim prefix="set" suffixOverrides=",">
            <if test="mainleaderinstruction!=null">mainleaderinstruction = #{mainleaderinstruction},</if>
            <if test="branchleaderinstruction!=null">branchleaderinstruction = #{branchleaderinstruction},</if>
            <if test="result!=null">result = #{result},</if>
        </trim>
        where receivefileid = #{receivefileid}
    </update>
    <!--int updateModelYikeshi(Model_Yikeshi meme);-->
    <update id="updateModelWenjiannibandan" parameterType="com.bhidi.lincang.bean.Model_Yikeshi">
        update model_yikeshi
        <trim prefix="set" suffixOverrides=",">
            <if test="departmentadvice!=null">departmentadvice = #{departmentadvice},</if>
            <if test="mainleaderinstruction!=null">mainleaderinstruction = #{mainleaderinstruction},</if>
            <if test="branchleaderinstruction!=null">branchleaderinstruction = #{branchleaderinstruction},</if>
            <if test="result!=null">result = #{result},</if>
        </trim>
        where receivefileid = #{receivefileid}
    </update>
    <!--int updateModelErkeshi(Model_Erkeshi meme);-->
    <update id="updateModelErkeshi" parameterType="com.bhidi.lincang.bean.Model_Erkeshi">
        update model_erkeshi
        <trim prefix="set" suffixOverrides=",">
            <if test="department1advice!=null">department1advice = #{department1advice},</if>
            <if test="department2advice!=null">department2advice = #{department2advice},</if>
            <if test="mainleaderinstruction!=null">mainleaderinstruction = #{mainleaderinstruction},</if>
            <if test="branchleaderinstruction!=null">branchleaderinstruction = #{branchleaderinstruction},</if>
            <if test="result!=null">result = #{result},</if>
        </trim>
        where receivefileid = #{receivefileid}
    </update>
    <!--int insertModelErkeshi(Model_Erkeshi meme);-->
    <insert id="insertModelErkeshi" parameterType="com.bhidi.lincang.bean.Model_Erkeshi">
        insert into model_erkeshi(filename,receivefileid,receivefilenum,comefiledepartment,comefilenum,
         urgency,secret,copys,filetitle,suggestion,mainleader,branchleader,department1name,
         department1person,department1advice,department2name,department2person,department2advice,
         mainleaderinstruction,branchleaderinstruction,result,implementperson)
        values (#{filename},#{receivefileid},#{receivefilenum},#{comefiledepartment},#{comefilenum},
         #{urgency},#{secret},#{copys},#{filetitle},#{suggestion},#{mainleader},#{branchleader},
         #{department1name},#{department1person},#{department1advice},#{department2name},
         #{department2person},#{department2advice},#{mainleaderinstruction},#{branchleaderinstruction},
         #{result},#{implementperson});
    </insert>
    <!--int insertModelYikeshi(Model_Yikeshi meme);-->
    <insert id="insertModelYikeshi" parameterType="com.bhidi.lincang.bean.Model_Yikeshi">
        insert into model_yikeshi(filename,receivefileid,receivefilenum,comefiledepartment,comefilenum,
        urgency,secret,copys,filetitle,suggestion,mainleader,branchleader,department,
        departmentperson,departmentadvice,
        mainleaderinstruction,branchleaderinstruction,result,implementperson)
        values (#{filename},#{receivefileid},#{receivefilenum},#{comefiledepartment},#{comefilenum},
        #{urgency},#{secret},#{copys},#{filetitle},#{suggestion},#{mainleader},#{branchleader},
        #{department},#{departmentperson},#{departmentadvice},#{mainleaderinstruction},#{branchleaderinstruction},
        #{result},#{implementperson});
    </insert>
    <!--int insertModelWenjiannibandan(Model_Wenjianniban meme);-->
    <insert id="insertModelWenjiannibandan" parameterType="com.bhidi.lincang.bean.Model_Wenjianniban">
        insert into model_wenjianniban(filename,receivefileid,dispatchfiledepartment,filenum,receivefileregisterid,
        receivefiledate,filetitle,suggestion,mainleader,branchleader,
        mainleaderinstruction,branchleaderinstruction,result,implementperson)
        values (#{filename},#{receivefileid},#{dispatchfiledepartment},#{filenum},#{receivefileregisterid},
        #{receivefiledate},#{filetitle},#{suggestion},#{mainleader},#{branchleader},
        #{mainleaderinstruction},#{branchleaderinstruction},
        #{result},#{implementperson});
    </insert>
    <!--int insertModelZhijiechuli(Model_Zhijiechuli meme);-->
    <insert id="insertModelZhijiechuli" parameterType="com.bhidi.lincang.bean.Model_Zhijiechuli">
        insert into model_zhijiechuli(filename,receivefileid,receivefilenum,comefiledepartment,comefilenum,
        urgency,secret,copys,filetitle,suggestion,mainleader,branchleader,
        mainleaderinstruction,branchleaderinstruction,result,implementperson)
        values (#{filename},#{receivefileid},#{receivefilenum},#{comefiledepartment},#{comefilenum},
        #{urgency},#{secret},#{copys},#{filetitle},#{suggestion},#{mainleader},#{branchleader},
        #{mainleaderinstruction},#{branchleaderinstruction},
        #{result},#{implementperson});
    </insert>
    <!--Model_Zhijiechuli getInfoFromZhijiechuli(String receivefileid);-->
    <select id="getInfoFromZhijiechuli" parameterType="String" resultType="com.bhidi.lincang.bean.Model_Zhijiechuli">
        select *
        from model_zhijiechuli where receivefileid = #{receivefileid}
    </select>
    <!--Model_Wenjianniban getInfoFromWenjianniban(String receivefileid);-->
    <select id="getInfoFromWenjianniban" parameterType="String" resultType="com.bhidi.lincang.bean.Model_Wenjianniban">
        select *
        from model_wenjianniban where receivefileid = #{receivefileid}
    </select>
    <!--Model_Yikeshi getInfoFromYikeshi(String receivefileid);-->
    <select id="getInfoFromYikeshi" parameterType="String" resultType="com.bhidi.lincang.bean.Model_Yikeshi">
        select *
        from model_yikeshi where receivefileid = #{receivefileid}
    </select>
   <!-- Model_Erkeshi getInfoFromErkeshi(String receivefileid);-->
    <select id="getInfoFromErkeshi" parameterType="String" resultType="com.bhidi.lincang.bean.Model_Erkeshi">
        select *
        from model_erkeshi where receivefileid = #{receivefileid}
    </select>
</mapper>
