<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.SendFileMapper">
    <!--int insert(SendFile sfa);-->
    <insert id="insert" parameterType="com.bhidi.lincang.bean.SendFile">
        insert into sendfile(sendfileid,createdtime,applicant,dept,author,reviewer,print,
         revision,copy,attachmentpath,keyword,title,content,status)
        values (#{sendfileid},#{createdtime},#{applicant},#{dept},#{author},#{reviewer},#{print},
         #{revision},#{copy},#{attachmentpath},#{keyword},#{title},#{content},#{status});
    </insert>

</mapper>
