<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhidi.lincang.dao.UserManagementMapper">
    <!--List<String> selectRoles();-->
    <select id="selectRoles" resultType="String">
        SELECT rolename
        FROM role
    </select>
    <!--List<UnitAndDepartments> selectUnitAndDepartment();-->
    <select id="selectUnitAndDepartment" resultType="com.bhidi.lincang.bean.UnitAndDepartment">
        SELECT unit,department
        FROM unitanddepartment
    </select>
    <!--int selectDept(RegisterInfo ri);-->
    <select id="selectDept" parameterType="com.bhidi.lincang.bean.RegisterInfo" resultType="int">
        SELECT id
        FROM unitanddepartment where unit = #{unit} and department = #{department}
    </select>
    <!--int saveUser(RegisterInfo ri);-->
    <insert  id="saveUser" parameterType="com.bhidi.lincang.bean.RegisterInfo" useGeneratedKeys="true"
             keyProperty="id">
        INSERT INTO user (username,pass,name,phone1,dept)
        VALUES ( #{username},#{pass},#{name},#{phone},#{department} )
    </insert >
    <!--int selectRoleid(RegisterInfo ri);-->
    <select id="selectRoleid" parameterType="com.bhidi.lincang.bean.RegisterInfo" resultType="int">
        SELECT id
        FROM role where rolename = #{role}
    </select>
    <!--int insertUserRole(Map<String, Object> mapConditionCondition);-->
    <insert id="insertUserRole" parameterType="Map" useGeneratedKeys="true"
             keyProperty="id">
        INSERT INTO user_role (userid,roleid)
        VALUES ( #{userid},#{roleid} )
    </insert >
</mapper>
