.info-detail{
    width: 100%;
}
.infos{
    font-size: 0;
}
.infos .apply,.infos .money{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 16px;
}
.infos .apply{
    border-right: 1px solid #000;
}
.notice{
    margin-left: 10px;
    line-height: 30px;
}
.notice .add{
    margin-top: 10px;
    line-height: 30px;
}
.add input{
    width: 300px;
}
.add span{
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
.add span:first-child{
    margin-right: 5px;
}
.add span:nth-child(3){
    font-size: 30px;
    cursor: pointer;
}
.notice .text{
    margin-top: 10px;
    padding-bottom: 50px;
}
.notice .text span{
    color: #000;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.notice .text textarea{
    width: 92%;
}
.m-row{
    font-size: 0px;
}
.m-row p{
    display: inline-block;
    vertical-align: middle;
    width: 46%;
    margin: 0 2%;
    font-size: 14px;
}
.key{
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    font-weight: 700;
    text-align: right;
}
.m-container{
    padding-bottom: 50px;
}
.x-know p:nth-child(2){
    padding-bottom: 50px;
}
.mybtn{
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}
.official .about{
    margin-left: 10px;
    padding-bottom: 50px;
}
.official .about span{
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
}
.official .about textarea{
    width: 90%;
}
#no{
    margin-right: 100px;
}
.c-off .info{
   font-size: 0px;
}
.c-off .info>div{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 50%;
    font-size: 14px;
    line-height: 200px;
    text-align: center;
}
.c-off>p:nth-child(2) input{
    width: 90%;
}
.c-off .t-money{
    margin-bottom: 50px;
}
.app{
    border-right: 1px solid #000;
}
.y-money p:nth-child(2){
    padding-bottom: 50px;
}
#guihuake_show1,#guihuake_show2{
    display: none;
}
#guihuake_show1 span,#guihuake_show2 span{
    width: 80px;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #000;
    color: #000;
}
#guihuake_show1 p,#guihuake_show2 p{
    width: 88%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
#pifu,#chuli,#luru,#edit2 .btn-success{
    display: none;
}